
.grid-banner{
    line-height: 0;

    video{
        max-width: 100%;
        width: 100%;
    }
}

#name-auth-banr{

    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-58px);

    p{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 24px;
        font-weight: bl;
        margin: 0 auto !important;
    }
}

.heading-wraps{
    max-width: 85%;
}

#backdrop-idle{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: #101010eb;
}

.heading-afro{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        font-size: 5rem;
        z-index: 3;
        margin: 0;
        text-transform: uppercase;
        font-weight: 900;
    }

    #paragh-banr{
        font-size: 18px;
        text-align: center;
        margin-top: 10%;
        display: block;
        font-weight: 500;
    }

    .p-f-name{
        color: #ef4747;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
    }
}


.tagline-ft{
    color: #ffffff36;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 12px;
    display: block;
    letter-spacing: 15px;
    margin-left: 13px;
    margin-bottom: 18px;
}

.left-heading-wraps{

    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;

    h1{
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        margin:0;
        span{
            display:block;

            &:nth-child(2){

            }

            &:nth-child(3){
                position: relative;
                z-index: 4;
            }
        }

        &:after{
            content: "";
            width: 6%;
            background: #ff4a4aee;
            height: 8px;
            position: absolute;
            margin-top: 15px;
        }
    }   
    
    .wrapper-img{
      img{
            position: absolute;
            top: 0;
            transform: translate(136px, 104px);
            -webkit-transform: translate(136px, 104px);
            -moz-transform: translate(136px, 104px);
            z-index:3;
            width: 242px;
        }
    }   
}
 
.span-link{
    a{
        text-transform: uppercase;
        color: #ff4a4aee;

        &:after{
            content:"";
        }
    }
}

#span-link{
    a{
        color: #ff4d4f;
        font-size: 14px;
        border-bottom: 1px solid #ff4d4f;
    }
}