#main-section{
	background: #222430;
    padding: 8% 0;

    h1{
        color: #ffff;
        font-weight: 500;
        line-height: 1.4;
    }

    p{
        color: #ffffff36;
    }

    .number-count{
	    font-size: 42px;
	    font-weight: 700;
	    color: #ff4a4aee;
    }

    .l-rate,
    .r-rate{
    	color:#fff;
        display:flex; 

        span{
            &:nth-child(2){
                font-size: 12px;
                padding: 0 16px;
                color: #eeeeee;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .l-rate{
        &:after{
            content: "";
            width: 8px;
            height: 53px;
            background: #eeeeee1f;
            transform: translateX(-8px);
        }
    } 

    .grid-main-section{
        display: grid;
        grid-template-columns: 43% 1fr;
    }

    .grid-main-section{
        .r-wraps{
            padding: 0 9%;
        }
        .l-wraps{
            img{
                width: 100%;
            }
        }
    }

    .l-wraps,
    .r-wraps{
        p{
            margin: 7px 0 !important;
        }
    }
} 

#rating-sections{
    margin-top: 8%;
    border-top: 4px solid #eeeeee14;
    padding-top: 4%;
    justify-content: center;
}


.f-blog-intro{

    background: url('../../../static/images/bg_f_blog.png');
    background-repeat: no-repeat;
    padding: 4% !important;
    height: 350px;
    display: flex !important;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-size: 100%;

    span{
        color: #ffff;
        text-transform: unset;
        text-transform: uppercase;
        letter-spacing: 5px;
        display: block;
        margin-bottom: 13px;
    }
    h5{
        font-size: 23px;
        color: #fff;
    }
}

.blog-common{
    height: 350px;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    padding: 4% !important;
    background:#404356;

    span{
        color: #ffffff4f;
        display: block;
        margin-bottom: 13px;
    }

    h5{
        font-size: 18px;
    }

    .info-blog{
        
        margin-top: 23%;
        display:flex;

        li{
            list-style:none;
            padding:9px;
            display:inline-flex;
                
            img{
                width: 23px;
            }

            span{
                color:#fff;
                margin-bottom:0 !important;
                padding: 0 7px;
            }
        }
    } 
}
 
.blog-front-section{
    padding: 9% 0;
    background: #1B1D27;
}

.logo-wrapper{
    img{
        width: 230px;
    }
}

.branding{
    h5{
        margin-bottom: 11%;
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: #ffffff8a !important;
    }
}


/*Lower Main*/

.lower-main-section{
    padding: 0;
    margin-top: 8%;

    .video-content{
        padding: 0 3%;

        p{
            line-height: 2;
            color: #ffffff36;
        }
    }

    .heading-lower-content{
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 5%;

        &:after{
            content: "";
            display: block;
            width: 308px;
            background: #f1484a;
            height: 4px;
        }
    }

    #sub-content-videos{
        margin: 11% 0;
        border-top: 7px solid #eeeeee2b;
        border-bottom: 7px solid #eeeeee2e;
        padding: 5% 0 10% 0;
    }

    .wrapper-contents{
        margin: 5% 0;
        display: block;

        span{
            color: #eeeeee61;
        }
    }
}

.wrapper-loader{
    text-align:center;
    max-width: 500px;
    margin: 0 auto;
}

.spinner{
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f55656;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite;
    position: relative;
    left: 18px;
}


.events-heading{
    h1{
        font-size: 6rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    p{
        margin : 0!important;
        font-size: 21px;
        color: #ffffff4a; 
    }
    .dot{
        color: #ff4b4b;
    }
}

#navlist-info{

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 500px;
    flex-direction:column;
    margin: 14% 0;

    li{ 
        list-style-type:none;
        display: block;
        padding: 3% 0;
        border-bottom: 1px solid #eeeeee1f;

        &:last-child{
            border-bottom: none;
        }

        .event-name{
            &:after{
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 10px;
                border-color: transparent transparent transparent #fb36367a;
                position: absolute;
                /* top: 50%; */
                right: -7px;
                margin: 7px 0 0 -7px;
            }
        }

        .date{
            color: #eeeeee5e !important;
            font-style: italic;
        }

        .date,
        .event-name{
            color :#fff;
            padding: 0 19px;
        }
    }
}

.lower-ask-wrapper{
     
    padding: 7% 0;
    background: #1b1d27;
    overflow: hidden;

    &:after{
        content:"";
        background: url('../../../static/icons/blocks.svg');
        position: absolute;
        background-size: 69%;
        width: 468px;
        height: 268px;
        background-repeat: no-repeat;
        display: block;
        right: 0; 
        transform: translateY(-180px);
        Z-INDEX: 1;
        opacity: 0.5;
    }

    h1{
        font-size: 3.2rem;
        line-height: 1.3;
    }

    .wraps-head{
        
        font-size: 4rem;
        line-height: 1.3;
        position: relative;
        z-index: 10;

        span{
            display: block;
            color: #ff5153;
        }
    }

    p{
        margin: 0 !important;
        font-size: 23px;
        color: #ffffff4f !important;
    }

    a{
        font-size: 17px;
        border: 2px solid #fa4b4b;
        padding: 10px 31px;
        border-radius: 20px;
        color: #fa4b4b;

        &:hover{
            background: #fa5154;
            color: #fff;
        }
    }
}

.images-wraps{
    
    width: 50%;

    h5{
        width: 100%;
        font-size: 2rem;
    }

    img{
        width: 334px;
        position: absolute;
        transform: translate(49px, -55px);
        opacity: 0.7;
    }
}



/*My Story Page*/
.my-story-section{

    #title{
        color: #ffffff47 !important;
        text-transform: uppercase;
        margin: 5% 0;
    }
   
    .photo-grid{
        display: flex;
        flex-wrap: wrap;
        border-spacing: 15px;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 7% 0;

        .lazy__image {
            img{
                width: 190px;
                padding: 5px;
            }                
            
            &:nth-child(3){
                text-align: right;
                img{
                    width: 79%;
                }
            }
        } 
    }

    .content-story{

         h1{
            font-family: "Roboto", sans-serif;
            font-size: 2.8rem;
            line-height: 1.2;
            text-align: left;
         } 

         p{
            color: #ffffffad;
            font-size: 1rem;
            font-weight: 100;
         }
    }
    
    .image_cont{
        text-align: center;

        &:after{
            content: "";
            height: 500px;
            background: #ff4d4f61;
            display: block;
            position: absolute;
            width: 300px;
            top: 0;
            transform: translate(-200px, 256px);
            right: 0;
        }
         
        img{
            position: relative;
            z-index: 2;
        }
    }
}

.heading-foot-note{
    h1{
        text-align: left;
        font-size: 18px;

        span{
            
            &:nth-child(1){
                font-size: 2rem;
                font-weight: 900;
            }

            &:nth-child(2){
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #ffffff40;
                display: block;
                margin: 2% 0;
            }
        }
    }
}

.two-grid-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
               
.teams{
    h1{ 
        text-align: right;
        margin: 6% 0;

        &:before{
            content:"";
            height: 1px;
            background: #ffffff24;
            display: block;
            position: relative;
            width: 70%;
            top: 18px;
        }
    }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
