#navigation{
	padding: 4% 0;
	ul{
		display: flex;
    	justify-content: space-evenly;

    	li{
	     	list-style-type:none;
	     	a{
				text-decoration: none;
				color: #ffffff;
				font-size: 1.1rem;
	     	}
     		[aria-current="page"]{
     			color: #fff;
			    border-bottom: 1px solid #ff4a4aee;
			    padding: 8px 0;
     		}
	    }
	}
}

#main-logo{
	width: 69px;
    opacity: 0.9;
}


.non-active-nav{
	
	ul{
    	display:none !important;
	}

}

#non-active-hamburger{

    display: none;
    flex-direction: column;

    .hamburger-span{
        width: 25px;
        display: none;
        height: 3px;
        background: #fff;
        margin: 3px 0;
        cursor: pointer;
    }
}


/*Active Nav*/
.active-nav{
    height: 100vh;
    position: fixed;
    z-index: 999;
    width:100%;
    top: 0;
    background: #060606;
    right: 0;


    .close-mark{
        display: block;
        position: absolute;
        right: 26px;
        top: 20px;
        padding: 16px 12px;
        background: #2c3135;
        border-radius: 26px;
    }

    .list-label{
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #6d6868ee;
        margin-bottom: 1.5em;
    }

    ul{
        text-align: left;
        transform: translateY(9em);
        margin: 0px 4em;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #3e3e3e;
        border-top: 1px solid #3e3e3e;
        padding: 5% 0;
    }
    li{
        list-style-type: none;
        font-size: 2em;
        padding: 8px 0;
        font-weight: bold;


        &:hover{
            &:after{
                content: '';
                width: 0;
                background: #d6a26c;
                position: relative;
                display: block;
                height: 1px;
                animation: nav-after;
                animation-iteration-count: infinite;
                animation-duration: 3.5s; 
            }
        }
    }
    a{
        text-decoration: none;
        color: #fff !important;

        &:hover{
            color: #d6a26c !important;
        }
        // text-transform: capitalize;
    }

    .hamburger-x-mark{
        width: 25px;
        display: block;
        height: 3px;
        background: #fff;
        margin: 3px 0;
        cursor: pointer;

        &:nth-child(1){
            transform: rotate(45deg);
            top: 4px;
            position: relative;
        }

        &:nth-child(2){
            transform: rotate(-45deg);
            position: relative;
            top: -2px;
        }
    }
}



@keyframes nav-after {
    0% {
      width: 0px;

    }
    50% {
      width: 50px;

    }
    100% {
      width: 0px;
    }
}