@media only screen and (max-width: 990px) {
    .grid-banner{
        background: url('../../../static/bg/mobile_banr.png');
        grid-template-columns: auto !important;
        padding: 130px 13% !important;
        height: 650px;
    }
    .container{
        max-width: 86% !important;
    }

    .left-heading-wraps .wrapper-img img{
        display: none;
    }
    
    .heading-wraps{
        max-width: 100% !important;
    }

    .heading-afro{
        position: relative !important;
        h1{
            text-align: center;
            line-height: 1;
        }
    }
    
    #backdrop-idle{
        position: relative !important;
        display: none !important
    }

    #nav-ul-list{
        display: none !important;
    }

    #non-active-hamburger{
        display: block !important;
    }

    .area-subs{
        grid-template-columns: auto !important;
        .image-holder{
            img{
                position: relative !important;
                transform: translate(0px, 0px) !important;
            }
        }
    }
    .subscriber-component{
        position: relative !important;
        transform: translateY(0px) !important;
    }
    
    #main-section{
        .grid-main-section{
            grid-template-columns: auto !important;

            .r-wraps{
                order: 1;
            }

            .l-wraps{
                text-align: center;
                img{
                    width: 80% !important;
                    margin-bottom: 7%;
                }
            }
        }
    }

    #blog-blocks{
        transform: translateY(0%) !important;
        flex-flow: column !important;
    }

    .video-wrapper{
        height: 500px;
    }
    
    #subscribe-form{
        grid-template-columns: auto !important;
    }
    #lower-row-fx{
        display: grid;
    }

    .lower-ask-wrapper{
        &:after{
            display: none !important;
        }
    }

    .images-wraps{
        img{
            opacity: 0.3 !important;
        }
    }
    
    #non-active-hamburger{

        display: grid !important;
        flex-direction: column;
        align-items: flex-end !important;
        justify-content: flex-end !important;

        .hamburger-span{
            display: block !important;
        }
    }

    #myVideo{
        display: none;
    }

    #navigation{
        ul{
            li{
                a{
                    text-transform: capitalize; 
                }
            }
        }
    }

    /*My Story*/
    .two-grid-col{
        grid-template-columns: auto !important; 
    }
    .image_cont{
        display: none;
    }

    .my-story-section{
        background: none;
    }

    .my-story-section{
        background-size: cover !important;
        .photo-grid{
            justify-content: center !important;
            align-items: center !important;
            .lazy__image:nth-child(3){
                text-align: center !important;
            }
        }
    }

    /*events*/
    .grid-row-events{
        grid-template-columns: auto !important;
        .grid-child{
            height: 100% !important;
        }
    }

    .blog-section,
    #podcast-page,
    #events-page,
    #contact-form-container{
        padding: 35% 0 !important;
    }

    .contact-info-wrapper{
        h1{
            font-size: 4rem;
            margin-bottom: 0;
            line-height: 1;
            padding: 7% 0;
            font-weight: 700;
        }
    }

    #main-logo{
        width: 150px !important;
    }

    .blog-grid-parent{
        grid-template-columns: auto !important;

        .content_elem{
            a{
                color: #fff7f7 !important;
                border: 1px solid #fd6464;
                padding: 14px !important;
                margin-top: 7%;
                display: block;
                width: 100% !important;
                text-align: center;
                background: #e06464ee !important;
                font-size: 19px;
                text-transform: uppercase;
            }
        }
    }

    #wrapper-container{
        grid-template-columns: auto;
    }
    .grid-two-columns{
        .r-col{
            &:before{
                display: none !important;
            }
        }
    }
}   

@media only screen and (max-width: 750px) {
    #row-2-brand-logo,
    #row-1-brand-logo{
        transform: translateY(0%) !important;
        flex-flow: wrap !important;
    }

    .branding{
        padding: 16% 0;
    }
    .logo-wrapper{

        [alt="stratton_img"]{
            width: 122px !important;
        }

        [alt="ink_shared_img"]{
            width: 60px !important;
        }

        [alt="v9_hub"]{
            width: 113px !important;
        }

        [alt="nbc_image"]{
            width: 69px !important;
        }

        [alt="rappler_img"]{
            width: 73px !important;
        }
        
        [alt="link_malloc_img"]{
            width: 122px !important;
        }

    }
    
    .footer-info-wraps{
        order:1;
        width: 100% !important;
    }

    .form-wrapper-ww{
        width: 100% !important; 
        display: block !important;
        margin-bottom: 10%;
    }

    #newsletter-form{
        width: 100% !important;
        text-align: left !important;
    }

    .footer-soc-med-wrapper{
        margin-top: 17% !important;
    }

    .lower-ask-wrapper{
        padding: 18% 0 !important;
    }

    #navlist-info{
        justify-content: flex-start !important;
        align-items: flex-start !important;
        width: 100% !important;
    }

    #rating-sections{
        grid-template-columns: auto;
    }
    #main-section{
        .l-rate{
            &:after{
                content: "";
                width: 194px !important;
                height: 4px !important;
                background: #eeeeee1f;
                transform: translateY(67px) !important;
                position: absolute;
            }
        }
    }

    .branding{
        h5{
            color: #ffffff !important;
        }
    }
} 



@media only screen and (max-width: 550px){

    .events-heading{
        h1{
            font-size: 4rem !important;
        }
    }   

    .video-wrapper{
        height: 300px;
    }

    .footer-soc-med-wrapper{
        display: block !important;
        text-align: center;
    }
    .footer{
        h5{
            text-align: center;
        }

        .footer-info-wraps{
            nav{
                display: block !important; 
                text-align: center;
                li{
                    list-style-type: none;
                    padding: 3% 0;
                    background: #000;
                    margin: 3% 0;

                    a{
                        color: #ffffffb0 !important;
                        font-size: 16px !important;
                    }
                }
            }
        }
    }

    .footer-soc-med-wrapper{
        .wr-credits{
            margin-top: 40px !important;
        }
    }

    .heading-afro{
        #paragh-banr{
            font-size: 14px !important;
            line-height: 1.4;
        }
        h1{
            font-size: 3.5rem !important;
        }
    } 

}